* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* Nav Bar */

header {
    display: flex;
    width: 95%;
    margin: auto;
    margin-top: 1em;
    align-items: center;
}

.logo {
    flex: 1;
    display: flex;
}

.logo img {
    height: 10vh;
    margin-left: 2em;
}

nav {
    flex-grow: 1;
}

nav li {
    margin: 0 -4em 0 -2em;
}

.nav__list {
    list-style: none;
    display: flex;
    height: 100%;
    justify-content: space-around;
}

.nav__link {
    text-decoration: none;
    color: black;
    font-size: x-large
}

/* Hero / Main Content Section */

.hero {
    background-image: url(./images/hero1.jpg);
    background-size: cover;
    margin-top: 1em;
    height: 1100px;
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.hero__banner--header {
    position: absolute;
    display: flex;
    align-self: flex-start;  
    left: 50%;
    margin-left: -275px;  
    margin-top: 3em;    
}

.hero__banner--footer {
    position: absolute;
    display: flex;
    align-self: flex-end;  
    max-height: 200px;
    left: 50%;
    margin-left: -100px;
    margin-bottom: 3em;
}

.cards {
    display: flex;
    max-width: 90%;    
}

.card {
    color: #ffffff;
    text-shadow: 2px 2px #111;
    background: rgba(16, 41, 51, 0.75);
    padding: 1.25em 1em 1em 1em;
    border-radius: 15px 15px;
    margin: -3em 1em 0em 1em; 
    box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0);
    transition: transform 200ms ease-in-out;
}

.card h3 {
    margin-top: 1em;
    margin-bottom: 0em;
    /*text-decoration: underline;*/
}

.card p {
    line-height: 2.5em;
}

.card:hover {
    transform: scale(1.1);
    opacity: .90;
}

@media (max-width: 930px) {
    .cards {
        display: flex;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }

    .card + .card {
        margin-left: 2em;
    }
}

/* Footer */

.footer {
    background: #ffffff;
    text-align: center;
    padding: 2.5em 0;
    font-size: 1.3em;
}

.footer a {
    text-decoration: none;
}

.footer__link {
    color: #000000;
}

.footer__link:hover,
.social-list__link:hover {
    opacity: .7;
}

.footer__link:hover {
    text-decoration: underline;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 1em 0 -1em;
    padding: 0;
}

.social-list__item {
    margin: 0 .5em;
}

.social-list__link {
    color: #000000;
    padding: .5em
}