* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* Nav Bar */

header {
    display: flex;
    width: 95%;
    margin: auto;
    margin-top: 1em;
    align-items: center;
}

.logo {
    flex: 1;
    display: flex;
}

.logo img {
    height: 10vh;
}

nav {
    flex: 1;
}

.nav__list {
    list-style: none;
    display: flex;
    height: 100%;
    justify-content: space-around;
}

.nav__link {
    text-decoration: none;
    color: black;
    font-size: large;
}

/* Hero / Main Content Section */

.hero {
    background-image: url(./images/hero1.jpg);
    background-size: cover;
    margin-top: 1em;
    height: 1000px;
    text-align: center;
    display: flex;
    align-items: center;
}

.services {
    
}

.service {
    height: 500px;
    color: #ffffff;
    text-shadow: 2px 2px #111;
    background: rgba(16, 41, 51, 0.75);
    padding: 1.25em 1em 1em 1em;
    border-radius: 15px 15px;
}

/*.service h3 {
    text-decoration: underline;
}*/

@media (min-width: 930px) {
    .services {
        display: flex;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }

    .service + .service {
        margin-left: 2em;
    }
}

/* Footer */

.footer {
    background: #ffffff;
    text-align: center;
    padding: 2.5em 0;
    font-size: large;
}

.footer a {
    text-decoration: none;
}

.footer__link {
    color: #000000;
}

.footer__link:hover,
.social-list__link:hover {
    opacity: .7;
}

.footer__link:hover {
    text-decoration: underline;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 1em 0 -1em;
    padding: 0;
}

.social-list__item {
    margin: 0 .5em;
}

.social-list__link {
    color: #000000;
    padding: .5em
}